@page {
  size: A4;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}


#print-btn {
  display: none;
  visibility: none;
}



#hide {
  display: none;
  visibility: none;
}
