body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.profile {
  font-weight: 500;
  font-family: Segoe UI;
  color: #979494;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  position: fixed;
}

.content-wrapper {
  background-color: rgb(255, 255, 255);
  max-width: 100vw;
  margin: auto;
}

hr {
  border: 2px solid #707070;
  opacity: 0.6;
}


table,
th,
td {
  white-space: normal !important;

}